<div class="col-md-4">
  <div class="thumbnail">
    <img src="https://www.joann.com/on/demandware.static/-/Sites-joann-product-catalog/default/dwea5b7991/images/hi-res/15/15948649.jpg" alt="">
  <div class="caption">
    <h3>Best Rubik's Cube</h3>
    <p>
      This is the best
    </p>
    <p>
      <strong>Price:</strong> $24
    </p>
    <p>
      <button class="btn btn-primary btn-sm">Add to cart</button>
      {{''}}
      <button class="btn btn-default btn-sm">View Details</button>
    </p>
  </div>
  </div>
</div>